header{
    background: #000;
    color: white;
    padding: 15px;
    text-align: center;
}
main{
    padding: 20px;
}
footer{
    background: #ddd;
    text-align: center;
    padding: 10px;
    position: fixed;   
}
form{
    background: #000;
    color: #ddd;
    padding: 20px;
    max-width: 300px;
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
}
input{
    width: 100%;
    padding: 8px;
}
button{
    width: 100%;
    margin-top: 10px;
}
.cards{
    display: flex;
    gap: 15px;
    justify-content: space-around;
}
.card{
    background:gray;
    padding: 15px;
    width: 150px;
    border-radius: 5px;
    margin-top: 30px;
    text-align: center;
}
#car{
    background: green;
    
}