.title{
    color: blue;
    text-align: center;
}
button{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    
}
button:hover{
    background-color: darkgreen;
    cursor: pointer;
}
.box-container{
    display: flex;
    gap: 10px;
}
.box{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
}